<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Wishlist</title>
    <head>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #f2f2f2}

            th {
                background-color: #3a62cf;
                color: white;
            }
        </style>
        <meta charset="utf-8">
    </head>
</head>
<body>
    <form action="/create_wish" method="post">
        <input type="text" name="title" placeholder="Enter a wish title"/>
        <input type="text" name="descr" placeholder="Enter a description"/>
        <input type="hidden" name="wish_owner" id="wish_owner" value = "${wish_owner}"/>
        <select name="access_level">
            <option value="public">public</option>
            <option value="friends">friends</option>
        </select>
        <input type="submit" value="Create wish">
    </form>
    <section id="wishes">
        <h1>Your Wishlist</h1>
        <ul>
        <table>
           <tr><th>Title</th><th>Description</th><th>Access Level</th><th>Delete</th><th>Edit</th></tr> 
                {{#each wishes}}

                <div id="todo">
                    <tr>
                    <td>{{ this.title }}</td>
                    <td>{{ this.descr }}</td>
                    <td>{{ this.access_level }}</td>
                    <form action="/delete/{{this.id}}" method="post">
                       <td> <button type="submit">delete</button></td>
                    </form>
                    <form action="/update/{{this.id}}" method="post">
                        <td> <button type="submit">update</button></td>
                    </form>
                    </tr>
                </div>
                {{else}}
                <p> No posts yet</p>
                {{/each}}
            </table>
        </ul>

    </section>
</body>
</html>